@use '../../Style/basics';

.section {

    display:block;
    width: 45rem;
    height:27rem;
    text-align: center;
    border-radius: 1rem;
    padding:1rem;
    background-color:white;
    box-shadow: 3px 3px 5px rgb(134, 134, 134);


    %buttons {

        cursor: pointer;
        border-radius: 0.5rem;
        transition: all 0.4s 
    }

    .moveBtnContainer{

        button {
            @extend %buttons;
            background:none;
            color:basics.$lighterBlue;
            border:none;
            font-size: 2rem;
            
            &:hover {
                color: basics.$mainBlue;
            }
        }
    }

    .randomBtn {
        @extend %buttons;

        color:basics.$mainBlue;
        background-color: basics.$veryLightBlue;
        border: none;
        font-size:1rem;
        padding:0.4rem;

        &:hover {
            background-color: basics.$mainBlue;
            color: basics.$darkerBlue;
        }
    }

}

.containerImg {

    $imgWidth: 150px;
    display: flex;
    flex-direction: row;
    width: $imgWidth;
    margin: 2rem auto;

    img {
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 8px -8px basics.$mainBlue;
        width: $imgWidth;
        height: $imgWidth;
    }

    .imgIconContainer {

        
        width:0px;
        .imgBackground{

            display:flex;
            justify-content: center;
            align-items:center;
            position: relative;
            object-fit: cover;
            border-radius: 50%;
            top:-0.5rem;
            left:-0.5rem;
            width: 2.75em;
            height: 2.75em;
            background-color: basics.$mainBlue;
            color:white;

            .imgIcon {
                
                width:2rem;
                height:2rem;
            }
        }
    }

}

.name {

    letter-spacing: 0.1rem;
    font: {
        
        weight:bold;
    }

    text-transform: capitalize;
}

.besetzung {
    
    text-transform: uppercase;
    color: basics.$mainBlue; 
}

.description {

    height: 4em;
}