
@use '../Style/_common';

.tour-container {

    background-color: white;

    box-shadow: rgb(212, 212, 212) 3px 3px 10px;
    img {

        width: 100%;
        height: 20em;
    }

    footer {

        padding: 2rem;
    }

    .readMoreBtn {
        background: none;
        border: none;
        color: common.$blue1;
        cursor: pointer;
    }

    .not-interested-btn {
        display: block;
        width: 15rem;
        height: 1.75rem;
        margin: 1em auto;
        background: none;
        border: 1px solid red;
        border-radius: 5px;
        cursor: pointer;
        color: red;

        letter-spacing:0.1rem;
        font: {
            size: 1rem;
        }

        &:hover {
            background-color: red;
            color: white;
        }

    }

    .info {
        display: flex;
        justify-content: space-between;
        letter-spacing: 0.1rem;
    }

    .Price {
        background-color: common.$blue2;

        color: common.$blue1;
        padding:0.25rem 0.75rem;
    }

    .Main-body {
        color: rgb(107, 107, 107)
    }

    margin: 2rem 0;
}
